{
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "spread": true
    }
  }
}
